body {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    background: #efefef;
    }
    
    .fixed {
    position: relative;
    background: #cc0000;
    color: #ffffff;
    padding: 30px;
    top: 50;
    left: 10;
    }
    
    span {
    padding: 5px;
    border: 1px #ffffff dotted;
    }