#mysidenav a{
    position: absolute;
    left: -80px;
    transition: 0.5s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mysidenav a:hover{
    left: 0;
}

#about{
    top: 20px;
    background-color: #04aa6d;
}

#blog{
    top: 80px;
    background-color: #2196f3;
}
#projects{
    top: 140px;
    background-color: #f44336;
}
#contact{
    top: 200px;
    background-color: #555555;
}